<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PairWine</title>
    <link rel="stylesheet" href="csss/main_style.css">
</head>
<body>
    <div class="container">
        <header class="header">Pair your wine!</header>
        <form class="input" action="type.php" method="post">
            <input type="submit" class="input__color" name="red" value="Red">
            <input type="submit" class="input__color" name="white" value="White">

        </form>


    </div>
</body>
</html>