<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PairWine</title>
    <link rel="stylesheet" href="csss/main_style.css">
</head>
<body>
    <div class="container">
        <header class="header">Pair your wine!</header>
        <form class="input" action="result.php" method="post">
            <input class="input input__search" type="text" name="search" placeholder="Enter name of your wine" size="35">
            <input class="input input__submit" type="submit" value="Search">

        </form>

    </div>
</body>
</html>