@media screen and (max-width: 600px) {
    body {
        background-color: lightseagreen;
        margin: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5vw;
        grid-auto-rows: minmax(5vh, auto);
    }

    .header {
        grid-column: 2;
        grid-row: 1;
        text-align: center;
        font-size: 25px;
        color: whitesmoke;
        align-self: center;
    }

    .input {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        margin-bottom: 5vh;
        margin-top: 5vh;
        padding: 2vh;
    }

    #input_red {
        margin: 5vh;
    }

    #input_dry {
        margin: 2vh;

    }

    #input_mediumdry {
        margin: 2vh;

    }

    #input_mediumsweet {
        margin: 2vh;

    }

    #input_sweet {
        margin: 2vh;

    }

    .info {
        grid-column: 2;
        grid-row: 2;
        color: white;
        text-align: center;
    }

    .leftsidebar {
        grid-column: 1;
        grid-row: 2/5;
        background-color: orange;
        text-align: center;
        visibility: hidden;
    }

    ul {
        list-style-type: none;
        margin-bottom: 1vw;
        text-align: left;
        padding-right: 1vw;
    }

    li {
        margin-bottom: 1vw;

    }

    .rightsidebar {
        grid-column: 3;
        grid-row: 2/5;
        visibility: hidden;
    }

    .footer {
        background-color: black;
        color: white;
        grid-column: 1/4;
        grid-row: 3;
        text-align: center;
        margin: auto;
        padding: 2vw;
    }

    .input__color {
        font-size: 20px;
        padding: 2vw;
        background-color: #ffe4b5;
        cursor: pointer;
    }

    .input__color:hover {
        background-color: lightgreen;
        border-color: black;
        font-size: 20px;
        padding: 2vw;
        cursor: pointer;
    }

    .input__submit {
        font-size: 20px;
        padding: 2vw;
        background-color: #ffe4b5;
        cursor: pointer;
    }

    .input__submit:hover {
        background-color: lightgreen;
        border-color: black;
        font-size: 20px;
        padding: 2vw;
        cursor: pointer;
    }
}
@media screen and (max-width: 5000px){
    body {
        background-color: lightseagreen;
        margin: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.1fr 0.1fr 1fr 0.3fr 0.3fr;
        grid-gap: 5vw;
        grid-auto-rows: minmax(5vh, auto);
    }

    .header {
        grid-column: 3;
        grid-row: 1;
        text-align: center;
        font-size: 25px;
        color: whitesmoke;
        align-self: center;
    }
    .subheader{
        grid-column: 2/5;
        grid-row: 2;
        font-size: 18px;
        text-align: center;
        color: whitesmoke;
    }

    .input {
        grid-column: 3;
        grid-row: 2;
        text-align: center;
        margin-bottom: 5vh;
        margin-top: 5vh;
        padding: 2vh;
    }
    .about{
        grid-column: 2/5;
        text-align: center;
    }

    .col1{
        grid-column: 2;
        grid-row: 3/5;
    }
    .col2{
        grid-column: 4;
        grid-row: 3/5;
    }
    #input_red {
        margin: 5vh;
    }

    #input_dry {
        margin: 2vh;

    }

    #input_mediumdry {
        margin: 2vh;

    }

    #input_mediumsweet {
        margin: 2vh;

    }

    #input_sweet {
        margin: 2vh;

    }

    .info {
        grid-column: 3;
        grid-row: 2;
        color: white;
        text-align: center;
    }

    .leftsidebar {
        grid-column: 1;
        grid-row: 2/6;
        background-color: orange;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin-bottom: 1vw;
        text-align: left;
        padding-right: 1vw;
    }

    li {
        margin-bottom: 5vw;

    }
    a{
        color:darkcyan;
        font-size: 20px;
    }
    .rightsidebar {
        grid-column: 5;
        grid-row: 2/5;
    }

    .footer {
        background-color: black;
        color: white;
        grid-column: 1/6;
        grid-row: 5;
        text-align: center;
        padding: 2vw;
    }

    .input__color {
        font-size: 20px;
        padding: 2vw;
        background-color: #ffe4b5;
        cursor: pointer;
    }

    .input__color:hover {
        background-color: lightgreen;
        border-color: black;
        font-size: 20px;
        padding: 2vw;
        cursor: pointer;
    }

    .input__submit {
        font-size: 20px;
        padding: 2vw;
        background-color: #ffe4b5;
        cursor: pointer;
    }

    .input__submit:hover {
        background-color: lightgreen;
        border-color: black;
        font-size: 20px;
        padding: 2vw;
        cursor: pointer;
    }
}
