body {
    background-color: #ffe4b5;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1fr;
    grid-gap: 5vw;
    grid-auto-rows: minmax(5vh, auto);
}

.header {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 25px;
    color: darkred;
    align-self: center;
}

.input {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding: 2vh;
}
#input_red{
    margin: 5vh;
}
#input_dry{
    margin: 2vh;

}
#input_mediumdry{
    margin: 2vh;

}
#input_mediumsweet{
    margin: 2vh;

}
#input_sweet{
    margin: 2vh;

}
.info{
    grid-column: 2;
    grid-row: 2;
    color: white;
    text-align: center;
}
.leftsidebar {
    grid-column: 1;
    grid-row: 2/5;
    background-color: orange;
    text-align: center;
    visibility: hidden;
}

ul {
    list-style-type: none;
    margin-bottom: 1vw;
    text-align: left;
    padding-right: 1vw;
}
li {
    margin-bottom: 1vw;

}

.rightsidebar {
    grid-column: 3;
    grid-row: 2/5;
    visibility: hidden;
}

.footer {
    background-color: black;
    color: white;
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
    margin: auto;
    padding: 2vw;
}

.input__submit {
    font-size: 20px;
    padding: 2vw;
    background-color: darkred;
    cursor: pointer;
    color: white;
}

.input__submit:hover {
    background-color: darkgreen;
    border-color: black;
    font-size: 20px;
    padding: 2vw;
    cursor: pointer;
}
.result{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    padding: 3vw;
}

